<form
  class="n-newsletter-signup__form"
  data-component="n-newsletter-signup__form"
  data-newsletter-id="{{id}}"
  action="
    {{~#if userIsSubscribed~}}
      {{unsubscribeAction}}
    {{~else~}}
      {{subscribeAction}}
    {{~/if~}}
  "
  method="POST"
>
<div
  class="ft-concept-button ft-concept-button--follow ft-concept-button--standard"
  data-ft-concept-button-aria-live-pressed-text="Subscribed to {{name}} newsletter"
  data-ft-concept-button-aria-live-unpressed-text="Unsubscribed from {{name}} newsletter"
  data-ft-concept-button-aria-label-pressed-text="Unsubscribe from {{name}} newsletter"
  data-ft-concept-button-aria-label-unpressed-text="Subscribe to {{name}} newsletter"
  data-o-component="ft-concept-button"
>
    <div class="ft-concept-button__announcement" aria-live="assertive"></div>
    <button
      class="ft-concept-button__button n-newsletter-signup__submit"
      aria-pressed="false"
      aria-label="
        {{~#if userIsSubscribed~}}
          Unsubscribe from {{name}}
        {{~else~}}
          Sign Up to {{name}}
        {{~/if~}}
      "
      title="
        {{~#if userIsSubscribed~}}
          Unsubscribe from {{name}}
        {{~else~}}
          Sign Up to {{name}}
        {{~/if~}}
      "
      data-trackable="
        {{~#if userIsSubscribed~}}
          newsletter-unsubscribe
        {{~else~}}
          newsletter-subscribe
        {{~/if~}}
      "
      type="submit"
      aria-describedby="feedback-message__newsletter-{{id}}"
      {{#if updatingPreference}}disabled="disabled" aria-disabled="true"{{/if}}
    >
      {{#if updatingPreference}}
        Updating<span class="o-normalise-visually-hidden">&nbsp;{{name}} newsletter preference</span>…
      {{else if userIsSubscribed}}
        Unsubscribe<span class="o-normalise-visually-hidden">&nbsp;from {{name}}</span>
      {{else}}
        Sign Up<span class="o-normalise-visually-hidden">&nbsp;to {{name}}</span>
      {{/if}}
    </button>
  </div>
</form>
