<form
	data-component="n-newsletter-signup__form"
	data-newsletter-id="{{id}}"
	action="
		{{~#if userIsSubscribed~}}
			{{unsubscribeAction}}
		{{~else~}}
			{{subscribeAction}}
		{{~/if~}}
		"
	method="POST"
	>
	<button
		class="n-newsletter-signup__submit"
		aria-label="
			{{~#if userIsSubscribed~}}
				Unsubscribe from {{name}}
			{{~else~}}
				Subscribe to {{name}}
			{{~/if~}}
		"
		title="
			{{~#if userIsSubscribed~}}
				Unsubscribe from {{name}}
			{{~else~}}
				Subscribe to {{name}}
			{{~/if~}}
		"
		data-trackable="
			{{~#if userIsSubscribed~}}
				newsletter-unsubscribe
			{{~else~}}
				newsletter-subscribe
			{{~/if~}}
		"
		type="submit"
		aria-describedby="feedback-message__newsletter-{{id}}"
		data-newsletter-toggle="{{#if userIsSubscribed }}{{subscribeText}}{{else}}{{unsubscribeText}}{{/if}}"
		{{#if updatingPreference}}disabled="disabled" aria-disabled="true"{{/if}}
		>
			{{#if updatingPreference}}
				<span class="n-newsletter-signup__buttontext">Updating</span>
				<span class="n-util-visually-hidden">&nbsp;{{name}} subscription</span>…
			{{else if userIsSubscribed}}
				<span class="n-newsletter-signup__buttontext">{{unsubscribeText}}</span>
				<span class="n-util-visually-hidden">&nbsp;to {{name}}</span>
			{{else}}
				<span class="n-newsletter-signup__buttontext">{{subscribeText}}</span>
				<span class="n-util-visually-hidden">&nbsp;to {{name}}</span>
			{{/if}}
		</button>
</form>
