<section data-component="n-newsletter-signup" data-newsletter-id="{{id}}" data-newsletter-name="{{name}}" class="n-newsletter-signup" {{#if isPremium}}data-newsletter-is-premium{{/if}}>
	<div class="n-newsletter-signup__header">
		<div class="n-newsletter-signup__heading">
			<span class="n-newsletter-signup__heading__mail-icon"></span><span class="n-newsletter-signup__heading__title">{{name}} Email<span class="n-util-visually-hidden">{{#if isPremium}}, premium{{/if}}{{#if frequency}}, {{frequency}}{{/if}}</span></span>
		</div>
	</div>
	<div data-component="n-newsletter-signup__description">
		<p class="n-newsletter-signup__description">{{description}}</p>
		{{#if isPremium}}<span aria-hidden="true" class="n-newsletter-signup__meta__premium o-labels o-labels--premium">Premium</span>{{/if}}
		<span aria-hidden="true" class="n-newsletter-signup__meta__frequency">{{frequency}}</span>
	</div>

	{{#if userNeedsToUpgrade}}
		<div>
			<a href="/products?location=/newsletters" class="n-newsletter-signup__upgrade" data-trackable="newsletters-upgrade">Upgrade<span class="n-util-visually-hidden">&nbsp; your subscription to receive {{name}}</span></a>
		</div>
	{{else}}
		{{> n-newsletter-signup/templates/partials/newsletter-form}}
	{{/if}}
</section>
