$o-labels-is-silent: false;
@import 'o-labels/main';

$o-buttons-is-silent: true;
@import 'o-buttons/main';

$o-grid-gutter-small: oGridGutter(S);

.n-newsletter-signup {
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;

	&::after {
		content: '';
		display: block;
		margin-top: 21px;
		border-bottom: 1px solid getColor('black-20');
	}
}

.n-newsletter-signup__submit {
	@include oButtons();
	@include oButtonsSize(big);
}

.n-newsletter-signup__submit .n-util-hide {
	display: none;
};

.n-newsletter-signup__upgrade {
	@include oButtons();
	@include oButtonsSize(big);
}

.n-newsletter-signup__upgrade .n-util-hide {
	display: none;
};

.n-newsletter-signup__header {
	background-color: getColor('claret');
	color: white;
	padding: 5px 12px;
	display: flex;
	min-height: 100px;
	position: relative;
	box-sizing: border-box;

	// cancel-out o-grid margin for mobile card
	@include oGridRespondTo($until: S) {
		left: -$o-grid-gutter-small;
		width: calc(100% + #{$o-grid-gutter-small * 2});
	}
}

.n-newsletter-signup__heading {
	@include oTypographyDisplayBold($scale: 2);

	align-self: flex-end;
	margin: 0;

	// for IE<11
	max-width: 100%;
	flex-shrink: 1;
	padding-top: 20px;
	// 😢
	font-size: 30px;
	line-height: 30px;

	@include oGridRespondTo($from: M, $until: XL) {
		font-size: 24px;
		line-height: 28px;
	}
	@include oGridRespondTo($until: S) {
		font-size: 40px;
		line-height: 40px;
	}
}

.n-newsletter-signup__top-meta {
	@include oTypographySansBold($scale: 0);
	position: absolute;
	top: 0;
	right: 16px;
}

.n-newsletter-signup__heading {
	display: inline-block;
	margin: 10px 10px 10px 0;
}

.n-newsletter-signup__description {
	display: inline-block;
	@include oTypographySans($scale: 1);
	font-size: 18px;
	flex-grow: 1;
	margin: 12px 0 0;
}

.n-newsletter-signup__meta {
	@include oTypographySans($scale: -2);
	text-transform: uppercase;
	color: getColor('black-60');
	margin: 16px 0;
}
